<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/homepage :: importBS">...</th:block>
    <title>Add Car Form</title>
</head>

<body>

<!--<th:block th:replace="/homepage :: importNavBar">...</th:block>-->
<a href="/">Show list of Cars</a>
<h1 class="introTitle" style="text-align: center">Add New Category</h1>
<hr>
<br>
<form action="#" th:action="@{/processcater}" th:object="${cartergory}" method="post">
    <div class="container">

        <input th:field="*{id}" type="hidden">

        Create a new category: <input th:field="*{nameCategory}" type="text"> <br>
        <span th:if="${#fields.hasErrors('nameCategory')}"
              th:errors="*{nameCategory}"></span> <br/>


    </div>
    <button type="submit" value="Submit">Save Your New Category</button>

</form>
</body>
</html>