<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Car Info</title>
</head>
<body>


<form action="#" th:action="@{/update/changecar/{id}}" th:object="${car}" method="post">
    <div class="container">
        <!--private String manufacture;-->
        <!--private String model;-->
        <!--private String year;-->
        <!--private Catergory catergory;-->
        <input th:field="*{id}" type="hidden">
        Manufacture: <input th:field="*{manufacture}" type="text"> <br>
        Model: <input th:field="*{model}" type="text"> <br>
        Year: <input th:field="*{year}" type="text"> <br>


        <select th:field="*{catergory}" multiple>
            <option th:each="eachCarter:${cartergorys}"
                    th:text="${eachCarter.nameCategory}"
                    th:value="${eachCarter.id}">
            </option>
        </select>
        <button type="submit">Save Info</button>
    </div>

    </div>


</form>
</body>
</html>